* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft Yahei",sans-serif,tahoma;
}

html {   
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content:"";
    height: 0;
    line-height: 0;
    display: block;
    visibility: none;
    clear: both;
}
.clearfix {
    *zoom: 1;
}